<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- AppleScript 脚本定义文件 -->
    <key>NSAppleScriptEnabled</key>
    <true/>

    <!-- OSAScriptingDefinition: 指向 .sdef 文件 -->
    <key>OSAScriptingDefinition</key>
    <string>fastv.sdef</string>

    <!-- 其他应用信息 -->
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>

    <key>CFBundleDisplayName</key>
    <string>轻语</string>

    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>

    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <key>CFBundleShortVersionString</key>
    <string>2.5.0-rc1</string>

    <key>CFBundleVersion</key>
    <string>49</string>

    <key>LSMinimumSystemVersion</key>
    <string>$(MACOSX_DEPLOYMENT_TARGET)</string>

    <key>NSPrincipalClass</key>
    <string>NSApplication</string>

    <key>NSSupportsAutomaticTermination</key>
    <true/>

    <key>NSSupportsSuddenTermination</key>
    <true/>
</dict>
</plist>
